<!DOCTYPE html>
<html>
<head>
  <title>Quizzee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
	<section id="main">
		<div class="inner clearfix">
		
			<aside id="sidebar">
				<ul>
					<li>
						<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				  	</li>
				</ul>
			</aside>
	
		<div id="page">
			<%= yield %>
		</div>
	</div> <!-- !inner -->
	</section>
	
	<% else %>
		<section id="login">
			<div class="inner">
	  			<%= yield %>
			</div>
		</section>
	
	<% end %>
	



</body>
</html>
